.App {
  position:absolute;
  text-align: center;
  margin: 0 auto;
  width: 35%;
  background-color: silver;
  height:80%;
  left:10%;
  right: 10%;
  top: 10%;
  border-radius: 15px;
  min-height: 550px;  
}

@media only screen and (max-width: 800px){
  .App {
    position:absolute;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    background-color: silver;
    height:90%;
    left:10%;
    right: 10%;
    top: 10%;
    border-radius: 15px;
  }
}

.App h1 {
  font-size: 5vh;
  color: black;
}
.roots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height:100%;
}

body {
  background-color: #282c34;
  height:100%;
}

.shutter_speeds {
  margin-left: auto;
  margin-right: auto;
}

.calculator {
  margin-left: auto;
  margin-right: auto;
  background-color: lightgrey;
  height:65%;
  width: 70%;
  padding: 15px;
  border-radius: 15px;
}

.input_fields {
  margin:auto;
  padding:10px;
}

form {
  margin:auto;
  padding:10px;
  width:200px;
}

input{
  padding:10px;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 5%;
}

form .fraction_input {
  margin:0;
}

#fractionInput {
  width: 200px;
  display:flex;
  margin-top:0;
}

#fractionInput input {
  width: 33%;
  margin:5%;
  margin-top: 0;
}
#fractionInput p {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.input_fields h3 {
  margin:0;
  padding:0;
}