.App {
  position:absolute;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  background-color: silver;
  height:80%;
  left:10%;
  right: 10%;
  top: 10%;
  border-radius: 15px;
}

.App h1 {
  font-size: 5vh;
  color: black;
}
.roots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height:100%;
}

body {
  background-color: #282c34;
  color: white;
  height:100%;
}

.shutter_speeds {
  margin-left: auto;
  margin-right: auto;
}